body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    padding: 20px;
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;

}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #F9FAF8;
}

.container {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 50px;
    background-color: #1F2937;
    color: #F9FAF8;
    box-sizing: border-box; /* Ensure padding is included in the element's total width and height */
}

.text-section {
    max-width: 50%;
}

.text-section h1 {
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 20px;
}

.text-section p {
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 20px;
}

.text-section button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #3882F6;
    color: #fff;
    border: none;
    cursor: pointer;
}

.image-section img {
    max-width: 100%;
    height: auto;
}

.cards-section {
    width: 100%;
    padding: 50px 0;
    background-color: #f0f0f0;
    text-align: center;
        box-sizing: border-box;

}

.cards-section h2 {
    font-size: 36px;
    font-weight: 800;
    margin-bottom: 30px;
    color: #1F2937;
}

.cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    max-width: 200px;
    margin: 10px;
    text-align: center;
}

.card img {
    width: 100%;
    height: auto;
}

.card p {
    margin-top: 10px;
    font-size: 16px;
}

.quote-section {
    width: 100%;
    padding: 50px;
    background-color: #E5E7EB;
    text-align: center;
    font-style: italic;
    font-size: 36px;
    font-weight: 300;
    color: #1F2937;
    box-sizing: border-box;

}

.cta-section {
    width: 100%;
    padding: 50px;
    background-color: #3882F6;
    text-align: center;
    color: #fff;
    box-sizing: border-box;

}

.cta-section h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

.cta-section button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #fff;
    color: #3882F6;
    border: none;
    cursor: pointer;
}

footer {
    width: 100%;
    padding: 20px;
    background-color: #1F2937;
    text-align: center;
    color: #F9FAF8;
    box-sizing: border-box;

}
